<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>工作列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="keywords" content="" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet" media="all">
    <link href="css/style.css" type="text/css" rel="stylesheet" media="all">
    <!-- font-awesome icons -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!-- //Custom Theme files -->
    <!-- online-sfonts -->
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i"
        rel="stylesheet">
</head>

<body>
    <!-- header -->
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light p-0">
                <h1><a class="navbar-brand" href=" " th:href="@{~/index}">大学生勤工俭学网</a></h1>
                <button class="navbar-toggler ml-lg-auto ml-sm-5 bg-light" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="ml-lg-5 navbar-nav mr-lg-auto">
                        <li class="nav-item mr-lg-4 mt-lg-0 mt-sm-4 mt-3">
                            <a th:href="@{~/index}">首页</a>
                        </li>
                        <li class="nav-item active mr-lg-4 mt-lg-0 mt-sm-4 mt-3">
                            <a th:href="@{~/jobList}">工作列表</a>
                        </li>
                        <li class="nav-item  mr-lg-4 mt-lg-0 mt-sm-4 mt-3">
                            <a th:href="@{~/about}">勤工通告</a>
                        </li>
                        <li class="nav-item mr-lg-4 my-lg-0 mb-sm-4 mb-3">
                            <a th:href="@{~/contact}">兼职须知</a>
                        </li>
                    </ul>
                    <button type="button" class="btn w3ls-btn text-uppercase font-weight-bold d-block" data-toggle="modal"
                            aria-pressed="false" data-target="#exampleModal1" th:unless="${session.user}">
                        注册
                    </button>
                    <button type="button" class="btn w3ls-btn ml-lg-1 text-uppercase font-weight-bold d-block"
                            data-toggle="modal" aria-pressed="false" data-target="#exampleModal" th:unless="${session.user}">
                        登录
                    </button>
                    <button type="button" class="btn w3ls-btn ml-lg-1 text-uppercase font-weight-bold d-block"
                            th:if="${session.user}" th:text="${session.user.userName}" id="userInfo">
                    </button>
                    <p hidden="hidden" th:if="${session.user}" th:text="${session.user.userId}" id="userId"></p>
                    <button type="button" class="btn w3ls-btn ml-lg-1 text-uppercase font-weight-bold d-block"
                            data-toggle="modal" aria-pressed="false" data-target="#userInfoModal" th:if="${session.user}" id="exit">退出系统
                    </button>
                </div>
            </nav>
        </div>
    </header>
    <!-- //header -->
    <div class="inner-banner-w3ls">
    </div>
    <!-- jobs -->
    <section class="employ-sec">
        <div class="container">
            <div class="row pt-lg-5">
                <div class="col-lg-12" id="findJobTest">

                    <!--<div class='row'>
                        <div class='col-sm-4 e-left'>
                            <div class='e-desc'>
                                <h6><a>我需要一个熟悉编程的助手</a></h6>
                                <p class='testP'>我是简介我是简介我是简介</p>
                                <hr>
                                <ul class='e-tags'>
                                    <li>导师项目</li>
                                    <li>综合办公</li>
                                </ul>
                                <hr>
                                <ul class='desc-list'>
                                    <li><span>地点:</span>教学楼三教1102教室</li>
                                    <li><span>薪资:</span>10元/小时</li>
                                    <li><span>经验:</span>无需任何经验</li>
                                    <li><span>发布者: </span>张三</li>
                                    <li><span>发布时间: </span>2019-04-08 14:45:59</li>
                                </ul>
                                <input type='submit' value='申请职位' class='form-control bg-theme text-uppercase'>
                            </div>
                        </div>
                    </div>-->

                </div>
            </div>
        </div>
    </section>
    <!-- //jobs -->
    <!-- Footer -->
    <footer id="footer" class="py-sm-5 py-4 bg-theme">
        <div class="container">
            <div class="footer-top-w3ls">
                <h2><a href="index.html" class="navbar-brand">大学生勤工俭学网</a></h2>
                <p class="text-white">为了改变目前大学生普遍存在的、不能方便有效地找到适合自己的兼职工作现状，
                    并且同时满足在校求职者和招聘单位双向的需求，大学生勤工俭学平台收集大量招聘单位的招聘信息，
                    并且展示了在校求职者的相关求职信息，使用人单位和校园求职者之间的交流更加及时和方便。
                    该平台的建立旨在显著地提高学生寻找勤工俭学工作的效率，并且大幅度地减轻高校学生管理者的工作负担。</p>
            </div>
        </div>
    </footer>
    <!-- /Footer -->
    <div class="cpy-right text-center py-4">
        <p class="text-dark">Copyright &copy; 2018.Company name All rights reserved.<a target="_blank" href="#">文一舟</a>
        </p>
    </div>
    <!-- login modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-theme1">
                    <h5 class="modal-title" id="exampleModalLabel">登录</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!--<form action="" th:action="@{~/user/login}" method="post" class="p-3">-->
                    <form method="post" class="p-3">
                        <div class="form-group">
                            <label for="userPhone" class="col-form-label">手机号</label>
                            <input type="text" class="form-control" placeholder=" " name="userName" id="userPhone"
                                   required="">
                        </div>
                        <div class="form-group">
                            <label for="userPassword" class="col-form-label">密码</label>
                            <input type="password" class="form-control" placeholder=" " name="userPassword" id="userPassword"
                                   required="">
                        </div>
                        <div class="right-w3l">
                            <input type="submit" class="form-control bg-theme" value="Login" id="login">
                        </div>
                        <div class="row sub-w3l my-3">
                            <div class="col sub-w3ltd">
                                <input type="checkbox" id="brand1" value="">
                                <label for="brand1" class="text-dark">
                                    <span></span>记住密码?</label>
                            </div>
                            <div class="col forgot-w3l text-right">
                                <a href="#" class="text-dark">忘记密码?</a>
                            </div>
                        </div>
                        <p class="text-center dont-do">没有账号?
                            <a href="#" data-toggle="modal" data-target="#exampleModal1" class="text-dark">
                                <strong>点击注册</strong></a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- //login modal -->
    <!-- register modal -->
    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-theme1">
                    <h5 class="modal-title" id="exampleModalLabel1">注册</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!--th:action="@{~/register}"-->
                    <form action="#"  method="post" class="p-3" enctype="application/x-www-form-urlencoded">
                        <div class="form-group">
                            <label for="userName" class="col-form-label">用户名</label>
                            <input type="text" class="form-control" placeholder="" name="userName" id="userName"
                                   required="">
                        </div>
                        <div class="form-group">
                            <label for="recipient-email" class="col-form-label">邮箱</label>
                            <input type="email" class="form-control" placeholder="" name="userEmail" id="recipient-email"
                                   required="">
                        </div>
                        <div class="form-group">
                            <label for="recipient-phone" class="col-form-label">手机号</label>
                            <input type="text" class="form-control" placeholder="" name="userPhone" id="recipient-phone"
                                   required="">
                        </div>
                        <div class="form-group">
                            <label for="password1" class="col-form-label">密码</label>
                            <input type="password" class="form-control" placeholder="" name="userPassword" id="password1"
                                   required="">
                        </div>
                        <div class="form-group">
                            <label for="password2" class="col-form-label">重复密码</label>
                            <input type="password" class="form-control" placeholder="" name="Confirm Password" id="password2"
                                   required="">
                        </div>
                        <div class="right-w3l">
                            <input type="submit" class="form-control bg-theme" value="Register" id="register">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- //register modal -->
    <!-- sjs -->
    <script src="js/jquery-2.2.3.min.js"></script>
    <!-- script for password match -->
    <script>
        window.onload = function () {
            document.getElementById("password1").onchange = validatePassword;
            document.getElementById("password2").onchange = validatePassword;
        }

        function validatePassword() {
            var pass2 = document.getElementById("password2").value;
            var pass1 = document.getElementById("password1").value;
            if (pass1 != pass2)
                document.getElementById("password2").setCustomValidity("Passwords Don't Match");
            else
                document.getElementById("password2").setCustomValidity('');
            //empty string means no validation error
        }
    </script>
    <!-- script for password match -->
    <script src="js/move-top.js"></script>
    <script src="js/myResponse.js"></script>
    <script src="js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });

        $.ajax({
            type:"GET",
            url:"http://localhost:8080/job/findJob",
            success:function (data) {
                if(data.status == 200){
                    changeJobListInFindJob(data);
                }else {
                    alert("获取工作类型失败");
                }
            },
            error:function (data) {
                alert("请求失败");
            }
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear' 
            };
            */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <script src="js/SmoothScroll.min.js"></script>
    <!-- //smooth-scrolling-of-move-up -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>